body {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	height: 100%;
	margin: 6;
	text-align: center;
	width: 100%;
}

footer {
	font-size: 12px;
	padding: 20px 0;
}

footer ul {
	list-style: none;
}

footer li img {
	width: 32px;
	height: 32px;
}